
*{
    padding:0px;
    margin: 0px;
    
}

header.DadosPessoais{
    background-color: white;
    margin: 0;
    color: black;
    font-size: 18px;
    font-weight: 500;
}

header nav h1{

    background-color:white;
}

body{
    background-color: #D1D1D2;

}
section#Caixa{
    border-top-left-radius: 80%;
   text-align: center;
}

img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}
input{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: none;
}
